@import "tailwindcss";
@import "@nuxt/ui";

* {
    scroll-behavior: smooth;
}

:root {
    --font-sans: 'Poppins', sans-serif;
    --color-primary-500: #C25874;
  }

@theme {
  --color-primary-500: #C25874;
}